<!DOCTYPE html>
<html>
	<head> 
		<title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Scope%20One">
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="/libs/jquery-3.1.0.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script src="/javascript/jquery.infinitescroll.js"></script>
    <link rel="stylesheet" href="/libs/font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	</head>


<body>


  <div class="sections">
    <div class="foreground-image">
      <center><img src="logo-name/karime-name4WS.png" alt="" style="width:650px;height:180px" align= "middle"></center>
    </div>
    <h1 class="page-heading">Welcome! I am a Computer Engineering Student with a passion in Software and <br>a love for art and design. </h1>
    <img src="mi-foto/foto-kari3.jpg" class="foto-karime" alt="" style="width:290px;height340px", align= "left"> 
    <p class="text"> <br>My name is Karime Saad and I am a fourth year student at the University of Texas at Austin majoring in Electrical and Computer Engineering with a tech core in Software Design. <br> <br> Ever since I was little I have been in love with desiging and making art. Once I started programming and realized how fun and enjoyable it is, I could not keep myself from combining my two passions (programming and art) and start being creative. I created this website from scratch all by myself, on my free time, and learning on my own. <br><br></p>
    <center><p class="text" style="font-size: 20px; line-height: 180%;"> If you want to know more about me click on the link below or check my portfolio! You can also contact me if you would like to know even more about me! </p></center>
    <div class="nav-buttons"> 
      <ul class="button-container">
        <li class="button-list"><button class="button-group" id="about-me-button"> About me! </button></li>
        <li class="button-list"><button class="button-group" id="portfolio-button"> Portfolio </button></li>
        <li class="button-list"><button class="button-group" id="contact-me-button"> Contact me </button></li>
      </ul>
    </div>
  </div> <!-- .sections #about-me-section -->



  <hr>

  <div class="sections" id="about-me-section">
    <h1 class="page-heading">ABOUT ME!</h1>
    <img src="mi-foto/foto-kari3.jpg" class="foto-karime" alt="" style="width:290px;height340px", align= "left"> 
    <p class="text"> <br>My name is Karime Saad and I am a fourth year student at the University of Texas at Austin majoring in Electrical and Computer Engineering with a tech core in Software Design. <br> <br> Ever since I was little I have been in love with desiging and making art. Once I started programming and realized how fun and enjoyable it is, I could not keep myself from combining my two passions (programming and art) and start being creative. I created this website from scratch all by myself, on my free time, and learning on my own. <br><br></p>
    <center><p class="text" style="font-size: 20px; line-height: 180%;"> If you want to know more about me click on the link below or check my portfolio! You can also contact me if you would like to know even more about me! </p></center>
  </div> <!-- .sections #about-me-section -->

  <hr>


  <div class="sections" id="portfolio-section">
    <h1 class="page-heading">PORTFOLIO!</h1>
    <img src="mi-foto/foto-kari3.jpg" class="foto-karime" alt="" style="width:290px;height340px", align= "left"> 
    <p class="text"> <br>YAAAAY!!! <br><br></p>
    <center><p class="text" style="font-size: 20px; line-height: 180%;"> If you want to know more about me click on the link below or check my portfolio! You can also contact me if you would like to know even more about me! </p></center>
    <button><a href="/art">Art Page </a></button>
  </div> <!-- .sections #about-me-section -->

  <hr>

  <div class="sections" id="contact-me-section">
    <h1 class="page-heading">Contact me!</h1>
    <img src="mi-foto/foto-kari3.jpg" class="foto-karime" alt="" style="width:290px;height340px", align= "left"> 
    <p class="text"> <br>FORM to send message, linkedin, etc<br><br></p>
    <center><p class="text" style="font-size: 20px; line-height: 180%;"> MEOW MEOW </p></center>
  </div> <!-- .sections #contact-me-section -->

  <button id="load-example">Click Me</button>
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
  <div class="output-verse"></div>
  <hr>

</body>
</html>

