<!DOCTYPE html>
<html>
	<head> 
		<title>Home Page</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
		<link rel="stylesheet" type="text/css" href="/libs/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<script src="/javascript/index.js"></script>
		<script src="/libs/jquery-3.1.0.min.js"></script>
    <script src="/javascript/jquery.infinitescroll.js"></script>
	</head>


<body data-spy="scroll" data-target="#navbar-example">
  <div class="foreground-image">
    <center><img src="logo-name/karime-name4WS.png" alt="Mountain View" style="width:700px;height:200px", style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)" align= "middle"></center>
  </div>

<h1 class="page-heading">This is a heading</h1>
<p id="id-example"> Hello how are you? I hope youre doing great!!!!</p>


<div id="navbar-example">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="img-circle">
      <img src="foto_con_maria.jpg" alt="pruebaa" style="width:150px;height:200px;"> 
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="..." alt="...">
    </a>
  </div>
</div>

<p> hello </p>

</body>
</html>

