.page-heading{
	color: #660033;
	font-family: "Scope One", Times, serif;
	font-size: 28px;
	text-align: center;
	padding-top: 10px;
    padding-left: 40px;
    padding-right: 20px;
    line-height: 180%;
}

body {
    background-image: url(background/swirl.png);
    background-repeat: repeat;
    position: relative;

}
.foreground-image {
    background-image: url(background/purty_wood.png);
    background-repeat: repeat;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.foto-karime {
   /* border-radius: 25px;*/
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   /* border: 1px solid black;*/
}

.text {
    color: #FFFF;
    font-family: "Scope One", Times, serif;
    font-size: 17px;
    margin-right: 30px;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 150%;
}

.sections{
    height: 100vh;
    width: 100vw;
}

hr{
    border: none;
    height: 1px;
    color: #ddd;
    background-image: -webkit-linear-gradient(left, #ddd, #d5d5d5, #ddd);
    width: 95%;
}

.button-container {
    list-style-type: none;
}

.button-list {
    display: inline;
    list-style-type: none;
}


.nav-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.button-list {
    margin: 0px 20px 0px 20px;
}

.fa-spinner{
    visibility: hidden;
}




